fastapi==0.136.1
uvicorn==0.46.0
sqlmodel==0.0.38
sqladmin==0.25.0
python-multipart
jinja2
itsdangerous
passlib[recommended]
python-jose[cryptography]
psycopg2-binary
wtforms==3.1.2
markupsafe
gunicorn
pandas
openpyxl
# trigger openpyxl dependency rebuild
